var wallets =
    [
        {
            "coin": "ETH",
            "address": "ETH_address_here",
            "note": "Keystore Wallet"
        },
        {
            "coin": "XLM",
            "address": "XLM_address_here",
            "note": null
        }
    ]