var wallets =
    [
        {
            "coin": "ETH",
            "address": "ETH_address_here"
        },
        {
            "coin": "XLM",
            "address": "XLM_address_here"
        }
    ]